body {
    font-family: Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: white;
    background-color: salmon;
}

h2 {
    color: black;
    text-align: center;
    }

.taglight {
    font-family: Lucida, Courier, monospace;
    background-color: mistyrose;
}

.tagdark {
  background-color: rosybrown;
}

.namelight {
    font-family: Lucida, Courier, monospace;
    background-color: mistyrose;
}

.namedark {
  font-family: Lucida, Courier, monospace;
  background-color: rosybrown;
}

.descriptionlight {
    font-family: Lucida, Courier, monospace;
    background-color: mistyrose;
}

.descriptiondark {
    font-family: Lucida, Courier, monospace;
    background-color: rosybrown;
}

table {
    border: 2px solid turquoise;
    width: 650px;
    margin: 0 auto;
  }
  
  thead {
    background-color: darkturquoise;
  }
  
  td {
    border-top: 1px solid turquoise;
  }

  th {
      color: white;
  }

  .attributelight {
    background-color: mistyrose;
  }

  .attributedark {
    background-color: rosybrown;
  }
